@CHARSET "ISO-8859-1";

#iugu-checkout-customform-navbar {
	text-align: center;
}

#iugu-checkout-customform-navbar ul {
	list-style: none;
	margin: 0 0 0 0;
}

#iugu-checkout-customform-navbar li {
	display: inline;
}

#iugu-checkout-customform-navbar li a {
	text-decoration: none;
	color: black;
	width: 49%!important;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#iugu-checkout-customform-navbar .ui-btn-active {
	/* background: white; */
	-webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#iugu-checkout-customform-navbar .creditcard-only, #iugu-checkout-customform-navbar .billet-only{
	padding: 5px;
}